/* @media Index */
@media (min-width: 300px) and (max-width: 700px) {    
    .d-block img {
        max-width: 100%;
        height: 150px;
    }
    .productos {
        h1 {
            margin: 5px;
            padding-top: 15px;
            font-size: 16px;
        }
        p {
            margin: 0px;
            padding: 5px 20px;
            font-size: 12px;
        }
    }      
    .contenedor-cuatro-imagenes {
        padding: 0px;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
        img {
            margin: 0;
            padding: 0px 20px;
            width: 100%;
            height: 85%;
            justify-content: center;
        }
    }
    .link-menu {
        margin: 0;
        padding: 5px;
        font-size: 10px;
    }
    .newsletter {
        padding: 10px;
        font-size: 14px;
        h2 {
            margin: 0;
            padding: 5px;
            font-size: 14px;
        }
        p {
            margin: 0;
            padding: 10px;
            font-size: 12px;
        }
        .correo-electronico, .boton-correo-electronico {
            margin: 10px 5px;
            padding: 5px;
            font-size: 12px;
        }
    }
}
/* @media Nosotros */
@media (min-width: 300px) and (max-width: 700px) {
    .main-historia { 
        h1 {
            margin: 5px;
            padding: 20px;
            font-size: 14px;
        }
        .primer-historia {
            margin: 0;
            padding: 0;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                justify-content: center;    
            }
            p {
                width: 100%;
                margin: 5px;
                padding: 10px;
                font-size: 12px;
                text-align: center;
            } 
        }
        .segunda-historia {
            margin: 0;
            padding: 0;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: center;
            img {
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                justify-content: center;    
            }
            p {
                width: 100%;
                margin: 5px;
                padding: 10px;
                font-size: 12px;
                text-align: center;
            }            
        }
    }
    .trabaja-con-nosotros {
        padding: 10px;
        h2 {
            font-size: 14px;
        }
        p, a {
            font-size: 12px;
        }
    }
}
/* @media Menu */
@media (min-width: 300px) and (max-width: 700px) {
    .main-menu {
        display: block;
        padding: 20px;
        .tabla-de-contenido {
            font-size: 14px;
            margin-bottom: 15px;
        }
        .menu-general h2 {
            font-size: 14px;
            margin-top: 10px;
            padding-top: 10px;
        }
        .grid-menu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .burger-options img, .hot-dogs-options img  {
                width: 100px;
                height: auto;
                margin-top: 5px;
                border-radius: 5px;
            }
            .acompanamientos-options img, .bebidas-options img {
                width: 100px;
                height: 50px;
                margin-top: 5px;
                border-radius: 5px;
            }
            .burger-options h3,
            .hot-dogs-options h3,
            .acompanamientos-options h3,
            .bebidas-options h3 {
                margin: 0;
                padding: 0;
                font-size: 12px;
            }
            .burger-options p,
            .hot-dogs-options p,
            .acompanamientos-options p,
            .bebidas-options p {
                margin: 0;
                padding: 0;
                font-size: 10px;
            }
        }
    }
}
/* @media Franquicias */
@media (min-width: 300px) and (max-width: 700px) {
    .main-franquicia {
        max-width: 100%;
        display: flexbox;
        flex-wrap: wrap;
        justify-content: center;
        .imagen-franquicia {
            margin: 0;
            padding: 10px 0px;
            width: 100%;
            height: auto;
            text-align: center;
        }
        .descripcion-franquicia {
            width: 100%;
            margin: 5px;
            padding: 10px;
            text-align: center;
            h2 {
                padding-bottom: 5px;
                font-size: 14px;
            }
            h3, p, a {
                font-size: 12px        
            }
        }
    }
}
/* @media Contacto */
@media (min-width: 300px) and (max-width: 700px) {
    .titulo-contacto h2 {
        font-size: 24px;
    }
    .estructura-contacto {
        display: flexbox;
        flex-wrap: wrap;
        .descripcion-de-contacto {
            width: 80%;
            text-align: center;
            padding: 20px 0px;
            p {
                font-size: 14px;
            }
            .formulario-de-contacto {
                font-size: 12px;
            }
        }
        .ubicacion {
            width: 80%;
            height: auto;
            padding: 20px 0px;
        }
    }
}