/* PARTIAL */
@import "header";


/* Variables */
$fuentePrincipal: 'Montserrat', sans-serif;
$imagenDeFondo: url(../images/fondo-de-pantalla.jpg);
$colorPrincipal: #fff;
$colorSecundario: #0a0908;
$colorTerciario: blanchedalmond;  