//Variables//
@import "footer";

main {
    background-image: url(../images/fondo-de-pantalla.jpg);
    margin: 0;
    text-align: center;
}
.d-block {
    width: 100%;
    height: 700px;
}
.productos {
    h1 {
        color: #fff;
        font-size: 36px;
        text-decoration: underline;
        margin: 20px;
        padding: 20px;        
    }
    p {
        color: #fff;
        font-size: 18px;
        padding: 20px;
    }
}
.contenedor-cuatro-imagenes {
    display: block;
    img {
        max-width: 100%;
        display: inline-block;
        width: 400px;
        height: 300px;
        margin: 30px;
        border-radius: 10px;    
    }
}
.boton-menu {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px;
}
.link-menu {
    font-size: 12px;
    text-align: center;
    border-style: groove;
    border-color: yellow;
    padding: 15px 10px;
    cursor: pointer;
    a {
        color: whitesmoke;
        font-weight: bolder;
        text-decoration: none;
    }
}
.newsletter {
    background-color: #eae0d5;
    margin: 0;
    padding: 40px;
    text-align: center;
    h2 {
        margin-bottom: 10px;
    }
    p {
        display: block;
        margin: 10px;
        padding: 20px; 
    }
    .correo-electronico {
        padding: 5px;
    }
    .boton-correo-electronico {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
}