/* @media Header */
@media (min-width: 500px) and (max-width: 700px) {
    .container-fluid {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 40% 30% 40%;
        gap: 5px;
        .logo img {
            max-width: 100%;
            height: auto;
        }
        .d-flex {
            max-width: 100%;
        }
    }
}